.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}

#score {
    position: relative;
    top: -50px;
    left: 240px;
    font: bold;
    font-size: 22px;
}

.score_text {
    position: relative;
    top: -98px;
    left: 180px;
    font: bold;
    font-size: 22px;
}

#dino {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url(img/dino3.png);
    position: relative;
    top: 150px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/cacti---cacti3.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMov infinite linear;
    animation-duration: 1.5s;
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    } 
    20% {
        top: 120px;
    }
    40% {
        top: 80px;
    }
    50% {
        top: 50px;
    }
    60% {
        top: 80px;
    }
    80% {
        top: 120px;
    }
    100% {
        top: 150px;
    }
}